---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Astro Site";
import "../styles/global.css";
---

<Layout>

  <h1>{pageTitle}</h1>
</Layout>
